body{
    background: url(https://www.bentleymotors.com/content/dam/bm/websites/bmcom/bentleymotors-com/homepage/26my-azure/GT%20Azure%20Dynamic%20Desktop.jpg/_jcr_content/renditions/original.image_file.1286.643.file/GT%20Azure%20Dynamic%20Desktop.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    object-fit: fill;
    background-size: cover;
}

.list-item {
  background: rgba(46, 46, 46, 0.267);
  backdrop-filter: blur(4px);
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 1px;
  width: 90%;
  margin: 7px;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.deleteBtn {
  background: red;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 10px;
}

.editBtn {
  background: green;
  padding: 8px 15px;
  border: none;
  border-radius: 10px;
}
.deleteBtn:active {
  background: rgb(201, 42, 42);
}
.editBtn:active {
  background: rgb(25, 177, 25);
}
#list-box{
    width: 70vw;
    margin: 100px;

}
